/* Selectors for entire page to be overwritten with specific selectors */
* {
  box-sizing: border-box;
  --main-blue-color: #114880;
}

body {
  background-image: linear-gradient(to right, #ffffee 0%, #ffffcc 100%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header styles */

.header {
  padding: 20px;
  background-image: linear-gradient(to right, var(--main-blue-color) 0%, #0a2638 100%);
  color: #ffffff;
}

.icon {
  height: 50px;
  position: absolute;
}

@media screen and (max-width: 739px) {
  .icon {
    display: none;
  }

  .header div ul li {
    display: inline-block;
    margin-left: 50px;
    position: relative;
    bottom: 75px;
    font-size: 15px;
  }

}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo {
  color: #d9dcd6;
}

.header div ul {
  list-style-type: none;
  display: flex;
}

.header div ul li {
  display: inline-block;
  margin-left: 50px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

/* Styling for the main */

.about {
  padding: 2%;
}

.main-content {
  width: 60%;
  border-right: 4px solid var(--main-blue-color);
}

h2 {
  position: relative;
  left: 110%;
  font-size: 200%;
}

.about p {
  font-size: 140%;
}

/* Styling for the work section */

.work h2 {
  left: 66%;
}

/* flexbox container and contents */

.container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  border-right: 4px solid var(--main-blue-color);
}

.card {
  width: 45%;
  height: 400px;
  min-width: 250px;
  border: 4px solid var(--main-blue-color);
  margin: 15px 5px;
  text-decoration: none;
}

/* Background images for the work cards */

#first-card {
  width: 91%;
  background-image: url(../images/calculator.gif);
}

#second-card {
  background-image: url(../images/pedal.webp);
}

#third-card {
  background-image: url(../images/fbnotes.png);
}

/* Card text styling */

.card-text {
  color: white;
  background-color: rgba(90, 110, 230, .5);
  height: 100px;
  width: 200px;
  text-align: center;
  padding-top: 3%;
}

.cards {
  position: relative;
  top: 25%;
}

/* Styling for the footer */

footer {
  padding: 20px;
  background-image: linear-gradient(to right, #114880 0%, #0a2638 100%);
  color: #ffffff;
  height: 100px;
}

footer ul li {
  padding-top: 15px;
  margin-right: 20px;
  float: left;
  font-size: 20px;
}

footer ul {
  list-style-type: none;
  display: flex;
}

footer ul li a {
  color: white;
  text-decoration: none;
}